body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

html{
/*  background: url(../images/coffee_desk.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

.container{
  border: 1px solid #EEE;
  margin: 5rem 1rem;
}

#tweet-river{
}

#container-row{
  margin: 1rem;
}

.tweet-container{
  border-top: 1px solid #EEE;
  border: collapse;
  padding: 7px;
}

#filter{
}

#select-location{
}

.pic{

}

.username{
  font-weight: 900;
}

.time{
}

.tweet{
}

.inline{
  display:inline;
}

.inline-block{
  display: inline-block;
}