body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

html{
/*  background: url(../images/coffee_desk.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

.container{
  border: 1px solid #EEE;
  margin: 5rem 1rem;
  #container-row{
    margin: 1rem;
    a{
      text-decoration: none;
      color: black;
    }
    #tweet-river{
      overflow: scroll;
      height: 52rem;
      .tweet-container{
        border-top: 1px solid #EEE;
        border: collapse;
        padding: 7px;
        .username{
          font-weight: 900;
        }
        .time{
          color: lightgrey;
        }
      }
    }
  }
}


.inline{
  display:inline;
}

.inline-block{
  display: inline-block;
}