doctype html
html
  head
    meta(name='viewport', content='width=device-width', initial-scale='1.0')
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    title Twitter Job Finder
  body
    .container
      .row#filter-container
        form#filter-form
          select
            option(value='') -Select a Filter-
            option(value='all') All
            option(value='frontend') Front End
            option(value='backend') Back End
            option(value='fullstack') Full Stack
          input(id = 'filter-btn' type = 'button' value = 'Apply')

      .row#tweet-river

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')    
    script(src='/js/index.js')
    script(src='/js/namespace.js')    
    script(src='/js/filter.js')    

