body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

html{
/*  background: url(../images/coffee_desk.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

#tweet-river{
  width: 77rem;
}

#filter{
}

#filter-input{
}

.pic{

}

.username{
}

.time{
}

.tweet{
}

.inline{
  display:inline;
}

.inline-block{
  display: inline-block;
}